*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container{
width: 60%;
margin: auto;
}

.icona{
  height: 60px;
  width: 150px;
  border-right: 1px solid grey;
  background-image: url("img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-color: rgb(232,232,232);
  margin-bottom: 10px;

}

nav{
  height: 40px;
  line-height: 40px;
  align-items: center


}

.navbar li{
  display: inline-block;
  list-style-type: none;
  margin-right: 5px;
  color: rgb(200,200,200);

}

.sezione1{
  height: 350px;
  background-image: url("img/banner.jpg");
  background-position: center;
  background-size: 90%;
  border-radius: 15px;
  margin: 15px 0;
  position: relative;

}

.layover{
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  border-radius: 15px;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 900;
}



.testo{
width: 50%;
position: absolute;
left: 30px;
bottom: 50px;
}



.sezione2{
  height: 60px;
  border-radius: 15px;
}

#Fertenum{
  color: rgb(200,200,200);
  font-size: small;
}

.sezione3{
  position: relative;

}
.sezione3::after{
  content: "";
  display: table;
  clear: both;
}
.side{
  height: 330px;
  width: 24%;
  float: left;
  margin: 10px 0;
  position: relative;
}


.fotosx{
height: 150px;
width: 100%;
background-image: url("img/img-1.jpg");
background-size: cover;
background-position: center;
border-radius: 15px;
position: relative;

}

.articolo{
  width: 100%;
  font-size: small;
  margin-top: 10px;

}

#fotodx{
 background-image: url("img/img-3.jpg");
 position: relative;
}
.centro{
  width: 50%;
  float: left;
  margin: 10px 1%;
  position: relative;
}

.fotocentro {
  height: 150px;
  width: 100%;
  background-image: url("img/banner-2.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  position: relative;
}



.riconoscimenti{
  height: 45px;
  line-height: 45px;
  text-align: center;
}

#cuore{
  color: red;
  font-size: 20px;
}
